body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  .login-container {
    background-color:rgb(184, 176, 160);; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300vh;
    height: 100vh;
  
  
  }
  .login-container h2 {
    margin-bottom: 15px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    background-color: rgb(90, 107, 64);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
  
    cursor: pointer;
  }
  .log{
    border: 0px solid black;
    border-radius: 20px;
    background-color: rgb(228, 219, 201);
    width: 500px;
   margin-left:400px ;
   padding: 50px;
   box-shadow: 10px 10px 5px black;
   margin-top: 20vh;
  }